* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Kalam', cursive;
}

:root {
  --drawRed: 0;
  --drawGreen: 0;
  --drawBlue: 0;
  --checkRed: 0;
  --checkGreen: 0;
  --checkBlue: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(60deg, #0c0c0c, #252525, #131313);
}

.main {
  position: relative;
  width: 100%;
  min-height: 100%;
}

.main-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url(img/bg.webp);
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: .5em;
}

.title {
  font-size: 2em;
  text-shadow: .05em .05em .01em black;
  color: white;
}

.square {
  border: .25rem solid white;
  width: 17em;
  height: 17em;
  border-radius: 1em;
  margin: 1em;
}

.draw-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgb(var(--drawRed), var(--drawGreen), var(--drawBlue));
}

.button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.button {
  width: 17em;
  height: 2.5em;
  background-color: #df4600;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  border: .15em solid white;
  border-radius: .5em;
  margin: .5em;
  cursor: pointer;
  text-shadow: .07em .07em .05em black;
  -webkit-transition: 1s;
  transition: 1s;
}

.check-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
}

.player-square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50vh;
  background-color: rgb(var(--checkRed), var(--checkGreen), var(--checkBlue));
  border-radius: 0;
  border: none;
  margin: 0;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 17em;
  height: 50vh;
}

input {
  width: 100%;
  height: 1rem;
  -webkit-appearance: none;
  background: rgba(0, 0, 0, 0.8);
  outline: none;
  border-radius: 1rem;
  cursor: pointer;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: .1rem;
  height: .1rem;
  border-radius: 50%;
}

.redInput::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 0.3rem #c00000;
          box-shadow: 0 0 0 0.3rem #c00000;
  border: 0.5rem solid #250000;
}

.greenInput::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 0.3rem #199215;
          box-shadow: 0 0 0 0.3rem #199215;
  border: 0.5rem solid #031102;
}

.blueInput::-webkit-slider-thumb {
  -webkit-box-shadow: 0 0 0 0.3rem #103db9;
          box-shadow: 0 0 0 0.3rem #103db9;
  border: 0.5rem solid #020818;
}

.redInput {
  background-color: #500101;
  -webkit-box-shadow: 0.1em 0 0.3em 0.1em #250000;
          box-shadow: 0.1em 0 0.3em 0.1em #250000;
}

.greenInput {
  background-color: #0b3d09;
  -webkit-box-shadow: 0.1em 0 0.3em 0.1em #031102;
          box-shadow: 0.1em 0 0.3em 0.1em #031102;
}

.blueInput {
  background-color: #05153f;
  -webkit-box-shadow: 0.1em 0 0.3em 0.1em #020818;
          box-shadow: 0.1em 0 0.3em 0.1em #020818;
}

.end-layer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  width: 100%;
  height: 100vh;
  background-color: #171717;
}

.compare-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.square-modifier {
  height: 50vh;
  width: 100vw;
}

.result-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 5em;
  font-weight: bold;
  color: white;
  text-shadow: .02em .02em .03em black;
}

.list-layer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 100%;
  height: 100vh;
  background-color: black;
  padding: 1em 0;
  overflow-y: scroll;
}

.list-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 4em;
  color: #df4600;
}

.cross::before {
  position: absolute;
  top: .3em;
  right: .3em;
  color: white;
  text-shadow: .04em .04em .02em black;
  font-size: 2em;
  margin: 0;
  cursor: pointer;
}

.score {
  font-size: 2em;
  color: white;
}

.timer {
  font-size: 5em;
  color: white;
  text-shadow: .02em .02em .03em black;
}

@media (min-width: 600px) {
  .check-layer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .player-square {
    width: 50vw;
    height: 100vh;
  }
  .input-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    width: 50vw;
    height: 100vh;
  }
  input {
    width: 80%;
  }
  .square-modifier {
    width: 50vw;
    height: 100vh;
  }
  .compare-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (min-width: 768px) {
  .title {
    font-size: 3em;
  }
  .square {
    width: 25em;
    height: 25em;
  }
  .player-square {
    width: 50vw;
    height: 100vh;
  }
  .button-box {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .button {
    width: 12em;
  }
  .result-text {
    font-size: 7em;
  }
  .cross::before {
    font-size: 3em;
  }
}

@media (min-width: 1200px) {
  .main, .list-layer {
    width: 1200px;
  }
  .square-modifier {
    height: 100vh;
    width: 600px;
  }
}

.g {
  background-color: #ac0000;
}
/*# sourceMappingURL=style.css.map */