* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kalam', cursive;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
:root {
    --drawRed: 0;
    --drawGreen: 0;
    --drawBlue: 0;

    --checkRed: 0;
    --checkGreen: 0;
    --checkBlue: 0;
}

$lightRed: rgb(192, 0, 0);
$mediumRed: rgb(80, 1, 1);
$darkRed: rgb(37, 0, 0);

$lightGreen: rgb(25, 146, 21);
$mediumGreen: rgb(11, 61, 9);
$darkGreen: rgb(3, 17, 2);

$lightBlue: rgb(16, 61, 185);
$mediumBlue: rgb(5, 21, 63);
$darkBlue: rgb(2, 8, 24);

body {
    @include flex();
    min-height: 100vh;
    width: 100%;
    // background-color: rgb(19, 19, 19);
    background: linear-gradient(60deg, rgb(12, 12, 12), rgb(37, 37, 37), rgb(19, 19, 19))
}

.main {
    position: relative;
    width: 100%;
    min-height: 100%;
}
.main-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex();
    justify-content: space-evenly;
    flex-direction: column;
    background-image: url(img/bg.webp);
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: .5em;
    
}
.title {
    font-size: 2em;
    text-shadow: .05em .05em .01em black; 
    color: white;
}
.square {
    border: .25rem solid white;
    width: 17em;
    height: 17em;
    border-radius: 1em;
    margin: 1em;
}
.draw-square {
    @include flex();
    background-color: rgb(var(--drawRed), var(--drawGreen), var(--drawBlue));
}
.button-box {
    @include flex();
    flex-direction: column;
    width: 100%;
}
.button {
    width: 17em;
    height: 2.5em;
    background-color: rgb(223, 70, 0);
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border: .15em solid white;
    border-radius: .5em;  
    margin: .5em; 
    cursor: pointer;
    text-shadow: .07em .07em .05em black; 
    transition: 1s;
}


// check-layer

.check-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.player-square {
    @include flex();
    width: 100%;
    height: 50vh;
    background-color: rgb(var(--checkRed), var(--checkGreen), var(--checkBlue));
    border-radius: 0;
    border: none;
    margin: 0;
}

.input-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 17em;
    height: 50vh;
}



input {
    width: 100%;
    height: 1rem;
    -webkit-appearance: none;
    background: rgba(0,0,0,0.8);
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
}



input::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: .1rem;
    height: .1rem;
    border-radius: 50%;
}

.redInput::-webkit-slider-thumb {
    box-shadow: 0 0 0 .3rem $lightRed;
    border: .5rem solid $darkRed;
}

.greenInput::-webkit-slider-thumb {
    box-shadow: 0 0 0 .3rem $lightGreen;
    border: .5rem solid $darkGreen;
}

.blueInput::-webkit-slider-thumb {
    box-shadow: 0 0 0 .3rem $lightBlue;
    border: .5rem solid $darkBlue;
}




.redInput {
    background-color: $mediumRed;
    box-shadow:  .1em 0 .3em .1em $darkRed;

}

.greenInput {
    background-color: $mediumGreen;
    box-shadow:  .1em 0 .3em .1em $darkGreen;
}

.blueInput {
    background-color: $mediumBlue;
    box-shadow:  .1em 0 .3em .1em $darkBlue;
}
// end-layer

.end-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex();
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #171717;
}

.compare-box {
    display: flex;
    flex-direction: column;
}

.square-modifier {
    height: 50vh;
    width: 100vw;
}

.result-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-shadow: .02em .02em .03em black;
}

// list
.list-layer {
    @include flex();
	justify-content: flex-start;
	flex-direction: column;
	position: fixed;
	top: 0;
    left: 50%;
    transform: translate(-50%, 0);
	width: 100%;
	height: 100vh;
    background-color: black;
    padding: 1em 0;
    overflow-y: scroll;
}
.list-title {
    @include flex();
    font-size: 4em;
    color: rgb(223, 70, 0);
}
.cross::before {
    position: absolute;
    top: .3em;
    right: .3em;
    color: white;
    text-shadow: .04em .04em .02em black;
    font-size: 2em;
    margin: 0;
    cursor: pointer;
}
.score {
    font-size: 2em;
    color: white;   
}
.timer {
    font-size: 5em;
    color: white;
    text-shadow: .02em .02em .03em black;
}


@media (min-width: 600px) {
    .check-layer {
        flex-direction: row;
    }
    .player-square {
        width: 50vw;
        height: 100vh;
    }
    .input-box {
        @include flex();
        justify-content: space-evenly;
        width: 50vw;
        height: 100vh;
    }
    input {
        width: 80%;
    }
    .square-modifier {
        width: 50vw;
        height: 100vh;
    }
    .compare-box {
        display: flex;
        flex-direction: row;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 3em;
    }
    .square {
        width: 25em;
        height: 25em;
    }
    .player-square {
        width: 50vw;
        height: 100vh;
    }
    .button-box {
        flex-direction: row;
    }
    .button {
        width: 12em;
    }
    .result-text {
        font-size: 7em;
    }
    .cross::before {
        font-size: 3em;
    }
}

@media (min-width: 1200px) {
    .main, .list-layer {
        width: 1200px;
    }
    .square-modifier {
        height: 100vh;
        width: 600px;
    }
}

.g {
    background-color: rgb(172, 0, 0);
}